* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eff2f7;
}

main {
    display: flex;
}

#new_item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: center;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    background-color: #d9d9d9;
    text-align: center;
    padding-top: 5px;
}

#new_item span {
    color: white;
    font-weight: bold;
    text-decoration-thickness: 3px;
    line-height: 1.5;
    text-decoration-line: underline;
    font-size: 30px;
}

#close{
    background-color: red;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    margin-left: 30%;
    padding: 0;
}

.input_new_item{
    text-align: center;
    font-size: 20px;
}

.input_new_item input{
    font-size: 22px;
    background-color: white;
    width: 80%;
    height: 30px;
    margin-top: 10px;
}

.input_new_item input[type="submit"]{
    margin-top: 8%;
}

.footer{
    width: 100%;
    height: 30px;
    background: #588bee;
}