input[type="button"], input[type="submit"] {
    background-color: #384ca2;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: white;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
