#window_message{
    background-color: #588bee;
    color: whitesmoke;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    align-self: center;
    padding: 2%;
    border-radius: 30px;
    min-width: 10%;
    min-height: 5%;
}